.book {
    display: flex;
    width: 1200px;
    padding: 30px;
    margin-bottom: 24px;
    border-radius: 4px;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: #FFFFFF;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 0 4px 0 rgba(0, 0, 0, 0.2);
}

.book-cover {
    display: block;
    width: 360px;
    height: 270px;
    object-fit: cover;
    border-radius: 4px;
}

.book-info {
    width: 760px;
    height: 270px;
}

.book-name {
    font-size: 20px;
    line-height: 25px;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    white-space: nowrap;
}

.book-style {
    margin: 12px 0;
    line-height: 20px;
}

.book-style .icon-bookmark {
    top: 3px;
    color: #67C23A;
    margin-right: 8px;
}

.book-desc {
    height: 120px;
    line-height: 24px;
    margin-bottom: 16px;
    color: #606266;
    word-break: break-word;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}