<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>Meta - 多媒体教学平台</title>
    <link rel="icon" href="../images/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="../css/meta.css"/>
    <link rel="stylesheet" href="../css/meta-index.css"/>
    <link rel="stylesheet" href="../css/course.css"/>
</head>
<body>
<meta-header id="header"></meta-header>
<main>
    <section class="carousel">
        <div class="carousel-item">
            <img src="../images/theme.jpg" alt=""/>
            <section class="carousel-caption">
                <p class="caption-title">Meta</p>
                <p class="caption-slogan">多媒体在线教学平台</p>
                <p class="caption-note">见证非凡&nbsp;&nbsp;至臻之作</p>
            </section>
        </div>
        <div class="carousel-mask"></div>
    </section>
    <section class="container">
        <div class="title">
            <p class="title-text">推荐课程</p>
            <p class="title-note"><a href="meta-courses.html">点击此处</a>发现更多课程</p>
        </div>
        <div class="course">
            <img class="course-cover" src="../images/theme.jpg" alt=""/>
            <section class="course-info">
                <p class="course-name">漫十年</p>
                <p class="course-label"><span class="icon icon-bookmark"></span>高三&nbsp;语文</p>
                <p class="course-desc">五月初 屹立在温暖的阳光下 心情也变得柔和起来 那些你曾期待的 却放弃你的 那些你不在意的 你已放弃的 都成了自己辛辛苦苦的独角戏 在新的生活到来之前 在煎熬中最后翻阅那些过往 一番不舍与惋惜之后 才发觉一切是那么的不值得 原来实现愿望是这么的难 我用了这么久才能去忘记你 五月初 屹立在温暖的阳光下 心情也变得柔和起来 那些你曾期待的 却放弃你的 那些你不在意的 你已放弃的 都成了自己辛辛苦苦的独角戏 在新的生活到来之前 在煎熬中最后翻阅那些过往 一番不舍与惋惜之后 才发觉一切是那么的不值得 原来实现愿望是这么的难 我用了这么久才能去忘记你</p>
                <a href="teacher-course.html">
                    <button class="btn btn-primary" type="button"><span class="icon icon-link"></span>浏览</button>
                </a>
            </section>
        </div>
        <div class="course">
            <img class="course-cover" src="../images/theme.jpg" alt=""/>
            <section class="course-info">
                <p class="course-name">漫十年</p>
                <p class="course-label"><span class="icon icon-bookmark"></span>高三&nbsp;语文</p>
                <p class="course-desc">五月初 屹立在温暖的阳光下 心情也变得柔和起来 那些你曾期待的 却放弃你的 那些你不在意的 你已放弃的 都成了自己辛辛苦苦的独角戏 在新的生活到来之前 在煎熬中最后翻阅那些过往 一番不舍与惋惜之后 才发觉一切是那么的不值得 原来实现愿望是这么的难 我用了这么久才能去忘记你 五月初 屹立在温暖的阳光下 心情也变得柔和起来 那些你曾期待的 却放弃你的 那些你不在意的 你已放弃的 都成了自己辛辛苦苦的独角戏 在新的生活到来之前 在煎熬中最后翻阅那些过往 一番不舍与惋惜之后 才发觉一切是那么的不值得 原来实现愿望是这么的难 我用了这么久才能去忘记你</p>
                <a href="teacher-course.html">
                    <button class="btn btn-primary" type="button"><span class="icon icon-link"></span>浏览</button>
                </a>
            </section>
        </div>
    </section>
</main>
<meta-footer id="footer"></meta-footer>
<div class="modal" style="display: none">
    <dialog class="modal-dialog">
        <header class="modal-header">
            <h1 class="modal-title">开启您的学习之旅</h1>
            <div class="modal-dismiss">
                <span class="icon icon-remove"></span>
            </div>
        </header>
        <main class="modal-content">
            <form class="form-inline">
                <div class="form-group">
                    <label class="form-action"><span class="icon icon-remove-sign"></span></label>
                    <input class="form-control" type="text" placeholder="中国大陆手机号"/>
                    <label class="form-label"><span class="icon icon-phone"></span></label>
                </div>
                <div class="form-group">
                    <label class="form-action"><span class="icon icon-eye-open"></span></label>
                    <input class="form-control" type="password" placeholder="密码，6-32个字符"/>
                    <label class="form-label"><span class="icon icon-lock"></span></label>
                </div>
                <div class="form-group">
                    <button class="btn btn-super btn-primary" type="button">登录</button>
                </div>
            </form>
        </main>
    </dialog>
</div>
<script src="../js/vue.js"></script>
<script src="../js/meta.js"></script>
</body>
</html>