<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>Meta - 多媒体教学平台</title>
    <link rel="icon" href="../images/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="../css/meta.css"/>
</head>
<body>
<header class="header">
    <div class="header-fixed" style="display: none">
        <div class="container">
            <h1 class="app-name"><a href="meta-index.html">Meta</a></h1>
            <section class="header-action">
                <button class="btn btn-petite btn-default login-action">登录</button>
                <a href="user-register.html">
                    <button class="btn btn-petite btn-primary">注册</button>
                </a>
            </section>
        </div>
    </div>
    <div class="header-fixed">
        <div class="container">
            <h1 class="app-name"><a href="meta-index.html">Meta</a></h1>
            <section class="account">
                <div class="account-info">
                    <img class="account-avatar" src="../images/default.png" alt=""/>
                    <span class="account-name">王振琦</span>
                    <span class="icon icon-menu-down"></span>
                </div>
                <nav class="account-nav">
                    <a class="account-item" href=""><span class="icon icon-user"></span>我的漫画</a>
                    <a class="account-item" href=""><span class="icon icon-cog"></span>我的信息</a>
                    <p class="account-item account-logout"><span class="icon icon-off"></span>退出登录</p>
                </nav>
            </section>
        </div>
    </div>
</header>
<footer class="footer">
    <span>ALL RIGHTS RESERVED FOR RUMOFUTURE</span>
</footer>
</body>
</html>