<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>Meta - 多媒体教学平台</title>
    <link rel="icon" href="../images/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="../css/meta.css"/>
    <link rel="stylesheet" href="../css/master-course.css"/>
</head>
<body>
<meta-header id="header"></meta-header>
<main>
    <section class="master-course">
        <div class="container">
            <img class="course-cover" src="../images/default.png" alt=""/>
            <section class="course-info">
                <p class="course-name">漫十年</p>
                <p class="course-label"><span class="icon icon-bookmark"></span>高三&nbsp;语文</p>
                <p class="course-desc">五月初 屹立在温暖的阳光下 心情也变得柔和起来 那些你曾期待的 却放弃你的 那些你不在意的 你已放弃的 都成了自己辛辛苦苦的独角戏 在新的生活到来之前 在煎熬中最后翻阅那些过往 一番不舍与惋惜之后 才发觉一切是那么的不值得 原来实现愿望是这么的难 我用了这么久才能去忘记你 五月初 屹立在温暖的阳光下 心情也变得柔和起来 那些你曾期待的 却放弃你的 那些你不在意的 你已放弃的 都成了自己辛辛苦苦的独角戏 在新的生活到来之前 在煎熬中最后翻阅那些过往 一番不舍与惋惜之后 才发觉一切是那么的不值得 原来实现愿望是这么的难 我用了这么久才能去忘记你</p>
                <button class="btn btn-primary btn-append" type="button">添加章节</button>
                <button class="btn btn-primary" type="button">添加试题</button>
            </section>
        </div>
    </section>
    <section class="container">

    </section>
</main>
<meta-footer id="footer"></meta-footer>
<script src="../js/vue.js"></script>
<script src="../js/meta.js"></script>
</body>
</html>