<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>Meta - 多媒体教学平台</title>
    <link rel="icon" href="../images/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="../css/meta.css"/>
    <link rel="stylesheet" href="../css/user-login.css"/>
</head>
<body>
<meta-header id="header"></meta-header>
<main>
    <section class="title">
        <p class="title-text">您好,&nbsp;我是Meta!</p>
        <p class="title-note">快速注册&nbsp;晋升平台知名讲师</p>
    </section>
    <section class="container">
        <form class="form-inline">
            <div class="form-group">
                <label class="form-action"><span class="icon icon-remove-sign"></span></label>
                <input class="form-control" type="text" placeholder="您的真实姓名"/>
                <label class="form-label"><span class="icon icon-user"></span></label>
            </div>
            <div class="form-group">
                <label class="form-action"><span class="icon icon-remove-sign"></span></label>
                <input class="form-control" type="text" placeholder="中国大陆手机号"/>
                <label class="form-label"><span class="icon icon-phone"></span></label>
            </div>
            <div class="form-group">
                <label class="form-action"><span class="icon icon-eye-open"></span></label>
                <input class="form-control" type="password" placeholder="密码，6-32个字符"/>
                <label class="form-label"><span class="icon icon-lock"></span></label>
            </div>
            <div class="form-group sms-group">
                <label class="form-action">
                    <button class="btn btn-primary" type="button">发送验证码</button>
                </label>
                <input class="form-control" type="text" placeholder="短信验证码"/>
                <label class="form-label"><span class="icon icon-th"></span></label>
            </div>
            <div class="form-group">
                <button class="btn btn-super btn-primary" type="button">注册</button>
            </div>
        </form>
    </section>
</main>
<meta-footer id="footer"></meta-footer>
<script src="../js/vue.js"></script>
<script src="../js/meta.js"></script>
</body>
</html>