<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>Meta - 多媒体教学平台</title>
    <link rel="icon" href="../images/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="../css/meta.css"/>
    <link rel="stylesheet" href="../css/user-login.css"/>
</head>
<body>
<header class="header">
    <div class="header-fixed">
        <div class="container">
            <h1 class="app-name"><a href="meta-index.html">Meta</a></h1>
            <section class="header-action">
                <a href="user-login.html">
                    <button class="btn btn-petite btn-default login-action">登录</button>
                </a>
                <a href="user-register.html">
                    <button class="btn btn-petite btn-primary">注册</button>
                </a>
            </section>
        </div>
    </div>
</header>
<main>
    <section class="title">
        <p class="title-text">Nemo</p>
        <p class="title-note">您的专属漫画分享平台</p>
    </section>
    <section class="container">
        <form class="form-inline">
            <div class="form-group">
                <label class="form-action"><span class="icon icon-remove-sign"></span></label>
                <input class="form-control" type="text" placeholder="中国大陆手机号"/>
                <label class="form-label"><span class="icon icon-phone"></span></label>
            </div>
            <div class="form-group">
                <label class="form-action"><span class="icon icon-eye-open"></span></label>
                <input class="form-control" type="password" placeholder="密码，6-32个字符"/>
                <label class="form-label"><span class="icon icon-lock"></span></label>
            </div>
            <div class="form-group">
                <button class="btn btn-super btn-primary" type="button">登录</button>
            </div>
        </form>
    </section>
</main>
<footer class="footer">
    <span>ALL RIGHTS RESERVED FOR RUMOFUTURE</span>
</footer>
</body>
</html>