<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>Meta - 多媒体教学平台</title>
    <link rel="icon" href="../images/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="../css/meta.css"/>
    <link rel="stylesheet" href="../css/master-course.css"/>
    <link rel="stylesheet" href="../css/user-course.css"/>
    <link rel="stylesheet" href="../css/chapter.css"/>
</head>
<body>
<meta-header id="header"></meta-header>
<main id="userCourse">
    <section class="master-course">
        <div class="container">
            <img class="course-cover" src="../images/default.png" alt=""/>
            <section class="course-info">
                <p class="course-name">漫十年</p>
                <p class="course-label"><span class="icon icon-bookmark"></span>高三&nbsp;语文</p>
                <p class="course-desc">五月初 屹立在温暖的阳光下 心情也变得柔和起来 那些你曾期待的 却放弃你的 那些你不在意的 你已放弃的 都成了自己辛辛苦苦的独角戏 在新的生活到来之前
                    在煎熬中最后翻阅那些过往 一番不舍与惋惜之后 才发觉一切是那么的不值得 原来实现愿望是这么的难 我用了这么久才能去忘记你 五月初 屹立在温暖的阳光下 心情也变得柔和起来 那些你曾期待的 却放弃你的
                    那些你不在意的 你已放弃的 都成了自己辛辛苦苦的独角戏 在新的生活到来之前 在煎熬中最后翻阅那些过往 一番不舍与惋惜之后 才发觉一切是那么的不值得 原来实现愿望是这么的难
                    我用了这么久才能去忘记你</p>
                <div class="course-action">
                    <button class="btn btn-primary" type="button" @click="addChapterModalVisible">添加章节</button>
                </div>
            </section>
        </div>
    </section>
    <section class="container">
        <div class="title">
            <p class="title-text">课程章节</p>
            <p class="title-note">如果喜欢这门课程&nbsp;那就报名吧</p>
        </div>
        <section class="chapter-list">
            <div class="chapter">
                <p class="chapter-title">第1章 课程介绍介绍本课程的主要内容，通过本次课程可以学到的知识点，学习方法介绍。介绍本课程的主要内容，通过本次课程可以学到的知识点，学习方法介绍。</p>
                <p class="chapter-note">
                    介绍本课程的主要内容，通过本次课程可以学到的知识点，学习方法介绍。介绍本课程的主要内容，通过本次课程可以学到的知识点，学习方法介绍。介绍本课程的主要内容，通过本次课程可以学到的知识点，学习方法介绍。介绍本课程的主要内容，通过本次课程可以学到的知识点，学习方法介绍。介绍本课程的主要内容，通过本次课程可以学到的知识点，学习方法介绍。介绍本课程的主要内容，通过本次课程可以学到的知识点，学习方法介绍。</p>
                <ul class="chapter-lesson lesson-list">
                    <li class="lesson">
                        <p class="lesson-name">
                            <span class="icon icon-play-circle" @click="learnLessonModalVisible"></span>
                            <span>1-1 课程介绍</span>
                        </p>
                        <p class="lesson-action">
                            <span class="icon icon-edit" @click="updateLessonModalVisible"></span>
                            <span class="icon icon-trash" @click="deleteLessonModalVisible"></span>
                        </p>
                    </li>
                    <li class="lesson">
                        <p class="lesson-name">
                            <span class="icon icon-play-circle" @click="learnLessonModalVisible"></span>
                            <span>1-2 安装TypeScript</span>
                        </p>
                        <p class="lesson-action">
                            <span class="icon icon-edit" @click="updateLessonModalVisible"></span>
                            <span class="icon icon-trash" @click="deleteLessonModalVisible"></span>
                        </p>
                    </li>
                    <li class="lesson">
                        <p class="lesson-name">
                            <span class="icon icon-play-circle" @click="learnLessonModalVisible"></span>
                            <span>1-3 编写第一个TypeScript程序</span>
                        </p>
                        <p class="lesson-action">
                            <span class="icon icon-edit" @click="updateLessonModalVisible"></span>
                            <span class="icon icon-trash" @click="deleteLessonModalVisible"></span>
                        </p>
                    </li>
                </ul>
                <div class="chapter-option">
                    <button class="btn btn-default"><span class="icon icon-tasks"></span>试题</button>
                    <div class="chapter-edit">
                        <button class="btn btn-default"><span class="icon icon-cog"></span>编辑</button>
                        <ul class="chapter-manage">
                            <li class="chapter-action" @click="addLessonModalVisible">
                                <span class="icon icon-film"></span>添加课时
                            </li>
                            <li class="chapter-action" @click="addQuestionModalVisible">
                                <span class="icon icon-tasks"></span>添加试题
                            </li>
                            <li class="chapter-action" @click="uploadDataModalVisible">
                                <span class="icon icon-file"></span>上传资料
                            </li>
                            <li class="chapter-action" @click="deleteChapterModalVisible">
                                <span class="icon icon-trash"></span>删除章节
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="chapter">
                <p class="chapter-title">第1章 课程介绍</p>
                <p class="chapter-note">介绍本课程的主要内容，通过本次课程可以学到的知识点，学习方法介绍。。</p>
                <ul class="chapter-lesson lesson-list">
                    <li class="lesson">
                        <p class="lesson-name">
                            <span class="icon icon-play-circle" @click="learnLessonModalVisible"></span>
                            <span>1-1 课程介绍</span>
                        </p>
                        <p class="lesson-action">
                            <span class="icon icon-edit" @click="updateLessonModalVisible"></span>
                            <span class="icon icon-trash" @click="deleteLessonModalVisible"></span>
                        </p>
                    </li>
                    <li class="lesson">
                        <p class="lesson-name">
                            <span class="icon icon-play-circle" @click="learnLessonModalVisible"></span>
                            <span>1-2 安装TypeScript</span>
                        </p>
                        <p class="lesson-action">
                            <span class="icon icon-edit" @click="updateLessonModalVisible"></span>
                            <span class="icon icon-trash" @click="deleteLessonModalVisible"></span>
                        </p>
                    </li>
                    <li class="lesson">
                        <p class="lesson-name">
                            <span class="icon icon-play-circle" @click="learnLessonModalVisible"></span>
                            <span>1-3 编写第一个TypeScript程序</span>
                        </p>
                        <p class="lesson-action">
                            <span class="icon icon-edit" @click="updateLessonModalVisible"></span>
                            <span class="icon icon-trash" @click="deleteLessonModalVisible"></span>
                        </p>
                    </li>
                </ul>
                <div class="chapter-option">
                    <button class="btn btn-default"><span class="icon icon-tasks"></span>试题</button>
                    <div class="chapter-edit">
                        <button class="btn btn-default"><span class="icon icon-cog"></span>编辑</button>
                        <ul class="chapter-manage">
                            <li class="chapter-action" @click="addLessonModalVisible">
                                <span class="icon icon-film"></span>添加课时
                            </li>
                            <li class="chapter-action" @click="addQuestionModalVisible">
                                <span class="icon icon-tasks"></span>添加试题
                            </li>
                            <li class="chapter-action" @click="uploadDataModalVisible">
                                <span class="icon icon-file"></span>上传资料
                            </li>
                            <li class="chapter-action" @click="deleteChapterModalVisible">
                                <span class="icon icon-trash"></span>删除章节
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </section>
</main>
<meta-footer id="footer"></meta-footer>
<div id="addChapterModal" class="modal" v-if="isVisible" v-cloak>
    <dialog class="modal-dialog">
        <header class="modal-header">
            <h1 class="modal-title">添加章节</h1>
            <div class="modal-dismiss"><span class="icon icon-remove" @click="invisible"></span></div>
        </header>
        <main class="modal-content">
            <form class="form-horizontal form-horizontal-2">
                <div class="form-group">
                    <label class="form-label">名称</label>
                    <input class="form-control" type="text"/>
                </div>
                <div class="form-group">
                    <label class="form-label">简介</label>
                    <textarea class="form-control" placeholder="介绍一下该章节..."></textarea>
                </div>
            </form>
        </main>
        <footer class="modal-footer">
            <button class="btn btn-petite btn-default" @click="invisible" :disabled="isBtnDisabled">取消</button>
            <button class="btn btn-petite btn-primary" @click="saveChapter" :disabled="isBtnDisabled">
                <span class="icon icon-refresh rotate" v-if="isBtnDisabled"></span>{{action}}
            </button>
        </footer>
    </dialog>
</div>
<div id="deleteChapterModal" class="modal" v-if="isVisible" v-cloak>
    <dialog class="modal-dialog">
        <header class="modal-header">
            <h1 class="modal-title">删除课时</h1>
            <div class="modal-dismiss"><span class="icon icon-remove" @click="invisible"></span></div>
        </header>
        <main class="modal-content">
            <p class="modal-prompt">您确定要删除该章节吗?</p>
        </main>
        <footer class="modal-footer">
            <button class="btn btn-petite btn-default" @click="invisible" :disabled="isBtnDisabled">取消</button>
            <button class="btn btn-petite btn-primary" @click="deleteChapter" :disabled="isBtnDisabled">
                <span class="icon icon-refresh rotate" v-if="isBtnDisabled"></span>{{action}}
            </button>
        </footer>
    </dialog>
</div>
<div id="addLessonModal" class="modal" v-if="isVisible" v-cloak>
    <dialog class="modal-dialog">
        <header class="modal-header">
            <h1 class="modal-title">添加课时</h1>
            <div class="modal-dismiss"><span class="icon icon-remove" @click="invisible"></span></div>
        </header>
        <main class="modal-content">
            <form class="form-horizontal form-horizontal-2">
                <div class="form-group">
                    <label class="form-label">名称</label>
                    <input class="form-control" type="text"/>
                </div>
                <div class="form-group">
                    <label class="form-label">视频</label>
                    <input class="form-control" type="file"/>
                </div>
            </form>
        </main>
        <footer class="modal-footer">
            <button class="btn btn-petite btn-default" @click="invisible" :disabled="isBtnDisabled">取消</button>
            <button class="btn btn-petite btn-primary" @click="saveLesson" :disabled="isBtnDisabled">
                <span class="icon icon-refresh rotate" v-if="isBtnDisabled"></span>{{action}}
            </button>
        </footer>
    </dialog>
</div>
<div id="updateLessonModal" class="modal" v-if="isVisible" v-cloak>
    <dialog class="modal-dialog">
        <header class="modal-header">
            <h1 class="modal-title">更新课时</h1>
            <div class="modal-dismiss"><span class="icon icon-remove" @click="invisible"></span></div>
        </header>
        <main class="modal-content">
            <form class="form-horizontal form-horizontal-2">
                <div class="form-group">
                    <label class="form-label">名称</label>
                    <input class="form-control" type="text"/>
                </div>
                <div class="form-group">
                    <label class="form-label">视频</label>
                    <input class="form-control" type="file"/>
                </div>
            </form>
        </main>
        <footer class="modal-footer">
            <button class="btn btn-petite btn-default" @click="invisible" :disabled="isBtnDisabled">取消</button>
            <button class="btn btn-petite btn-primary" @click="updateLesson" :disabled="isBtnDisabled">
                <span class="icon icon-refresh rotate" v-if="isBtnDisabled"></span>{{action}}
            </button>
        </footer>
    </dialog>
</div>
<div id="deleteLessonModal" class="modal" v-if="isVisible" v-cloak>
    <dialog class="modal-dialog">
        <header class="modal-header">
            <h1 class="modal-title">删除课时</h1>
            <div class="modal-dismiss"><span class="icon icon-remove" @click="invisible"></span></div>
        </header>
        <main class="modal-content">
            <p class="modal-prompt">您确定要删除该课时吗?</p>
        </main>
        <footer class="modal-footer">
            <button class="btn btn-petite btn-default" @click="invisible" :disabled="isBtnDisabled">取消</button>
            <button class="btn btn-petite btn-primary" @click="deleteLesson" :disabled="isBtnDisabled">
                <span class="icon icon-refresh rotate" v-if="isBtnDisabled"></span>{{action}}
            </button>
        </footer>
    </dialog>
</div>
<div id="learnLessonModal" class="modal learn-modal" v-if="isVisible" v-cloak>
    <dialog class="modal-dialog">
        <header class="modal-header">
            <h1 class="modal-title">课程学习</h1>
            <div class="modal-dismiss"><span class="icon icon-remove" @click="invisible"></span></div>
        </header>
        <main class="modal-content">
            <video class="learn-lesson" src="../images/test.ogg" controls></video>
        </main>
        <footer class="modal-footer">
            <span>1-2 安装TypeScript</span>
            <span>正在播放</span>
        </footer>
    </dialog>
</div>
<div id="addQuestionModal" class="modal" v-if="isVisible" v-cloak>
    <dialog class="modal-dialog">
        <header class="modal-header">
            <h1 class="modal-title">添加试题</h1>
            <div class="modal-dismiss"><span class="icon icon-remove" @click="invisible"></span></div>
        </header>
        <main class="modal-content">
            <form class="form-horizontal form-horizontal-2">
                <div class="form-group">
                    <label class="form-label">名称</label>
                    <input class="form-control" type="text"/>
                </div>
                <div class="form-group">
                    <label class="form-label">视频</label>
                    <input class="form-control" type="file"/>
                </div>
            </form>
        </main>
        <footer class="modal-footer">
            <button class="btn btn-petite btn-default" @click="invisible" :disabled="isBtnDisabled">取消</button>
            <button class="btn btn-petite btn-primary" @click="saveQuestion" :disabled="isBtnDisabled">
                <span class="icon icon-refresh rotate" v-if="isBtnDisabled"></span>{{action}}
            </button>
        </footer>
    </dialog>
</div>
<div id="uploadDataModal" class="modal" v-if="isVisible" v-cloak>
    <dialog class="modal-dialog">
        <header class="modal-header">
            <h1 class="modal-title">上传资料</h1>
            <div class="modal-dismiss"><span class="icon icon-remove" @click="invisible"></span></div>
        </header>
        <main class="modal-content">
            <form class="form-horizontal form-horizontal-2">
                <div class="form-group">
                    <label class="form-label">名称</label>
                    <input class="form-control" type="text"/>
                </div>
                <div class="form-group">
                    <label class="form-label">文件</label>
                    <input class="form-control" type="file"/>
                </div>
            </form>
        </main>
        <footer class="modal-footer">
            <button class="btn btn-petite btn-default" @click="invisible" :disabled="isBtnDisabled">取消</button>
            <button class="btn btn-petite btn-primary" @click="updateData" :disabled="isBtnDisabled">
                <span class="icon icon-refresh rotate" v-if="isBtnDisabled"></span>{{action}}
            </button>
        </footer>
    </dialog>
</div>
<script src="../js/vue.js"></script>
<script src="../js/meta.js"></script>
<script>
    const userCourse = new Vue({
        el: "#userCourse",
        data: {
            isVisible: false
        },
        methods: {
            visible: function () {
                this.isVisible = true;
            },
            invisible: function () {
                this.isVisible = false;
            },
            addChapterModalVisible: function () {
                addChapterModal.visible();
            },
            deleteChapterModalVisible: function () {
                deleteChapterModal.visible();
            },
            addLessonModalVisible: function () {
                addLessonModal.visible();
            },
            updateLessonModalVisible: function () {
                updateLessonModal.visible();
            },
            deleteLessonModalVisible: function () {
                deleteLessonModal.visible();
            },
            learnLessonModalVisible: function () {
                learnLessonModal.visible();
            },
            addQuestionModalVisible: function () {
                addQuestionModal.visible();
            },
            uploadDataModalVisible: function () {
                uploadDataModal.visible();
            }
        }
    });

    const addChapterModal = new Vue({
        el: "#addChapterModal",
        data: {
            isVisible: false,
            isBtnDisabled: false,
            action: "保存"
        },
        methods: {
            visible: function () {
                this.isVisible = true;
            },
            invisible: function () {
                this.isVisible = false;
            },
            saveStart: function () {
                this.isBtnDisabled = true;
                this.action = "正在保存";
            },
            saveCallback: function () {

            },
            saveChapter: function () {
                this.saveStart();
            }
        }
    });

    const deleteChapterModal = new Vue({
        el: "#deleteChapterModal",
        data: {
            isVisible: false,
            isBtnDisabled: false,
            action: "删除"
        },
        methods: {
            visible: function () {
                this.isVisible = true;
            },
            invisible: function () {
                this.isVisible = false;
            },
            deleteStart: function () {
                this.isBtnDisabled = true;
                this.action = "正在删除";
            },
            deleteCallback: function () {

            },
            deleteChapter: function () {
                this.deleteStart();
            }
        }
    });

    const addLessonModal = new Vue({
        el: "#addLessonModal",
        data: {
            isVisible: false,
            isBtnDisabled: false,
            action: "保存"
        },
        methods: {
            visible: function () {
                this.isVisible = true;
            },
            invisible: function () {
                this.isVisible = false;
            },
            saveStart: function () {
                this.isBtnDisabled = true;
                this.action = "正在保存";
            },
            saveCallback: function () {

            },
            saveLesson: function () {
                this.saveStart();
            }
        }
    });

    const updateLessonModal = new Vue({
        el: "#updateLessonModal",
        data: {
            isVisible: false,
            isBtnDisabled: false,
            action: "更新"
        },
        methods: {
            visible: function () {
                this.isVisible = true;
            },
            invisible: function () {
                this.isVisible = false;
            },
            updateStart: function () {
                this.isBtnDisabled = true;
                this.action = "正在更新";
            },
            updateCallback: function () {

            },
            updateLesson: function () {
                this.updateStart();
            }
        }
    });

    const deleteLessonModal = new Vue({
        el: "#deleteLessonModal",
        data: {
            isVisible: false,
            isBtnDisabled: false,
            action: "删除"
        },
        methods: {
            visible: function () {
                this.isVisible = true;
            },
            invisible: function () {
                this.isVisible = false;
            },
            deleteStart: function () {
                this.isBtnDisabled = true;
                this.action = "正在删除";
            },
            deleteCallback: function () {

            },
            deleteLesson: function () {
                this.deleteStart();
            }
        }
    });

    const learnLessonModal = new Vue({
        el: "#learnLessonModal",
        data: {
            isVisible: false,
            isBtnDisabled: false,
            action: "学习"
        },
        methods: {
            visible: function () {
                this.isVisible = true;
            },
            invisible: function () {
                this.isVisible = false;
            },
            learnStart: function () {
                this.isBtnDisabled = true;
                this.action = "正在学习";
            },
            learnCallback: function () {

            }
        }
    });

    const addQuestionModal = new Vue({
        el: "#addQuestionModal",
        data: {
            isVisible: false,
            isBtnDisabled: false,
            action: "保存"
        },
        methods: {
            visible: function () {
                this.isVisible = true;
            },
            invisible: function () {
                this.isVisible = false;
            },
            saveStart: function () {
                this.isBtnDisabled = true;
                this.action = "正在保存";
            },
            saveCallback: function () {

            },
            saveQuestion: function () {
                this.saveStart();
            }
        }
    });

    const uploadDataModal = new Vue({
        el: "#uploadDataModal",
        data: {
            isVisible: false,
            isBtnDisabled: false,
            action: "上传"
        },
        methods: {
            visible: function () {
                this.isVisible = true;
            },
            invisible: function () {
                this.isVisible = false;
            },
            uploadStart: function () {
                this.isBtnDisabled = true;
                this.action = "正在上传";
            },
            uploadCallback: function () {

            },
            uploadData: function () {
                this.uploadStart();
            }
        }
    });
</script>
</body>
</html>