<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>Meta - 多媒体教学平台</title>
    <link rel="icon" href="../images/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="../css/meta.css"/>
    <link rel="stylesheet" href="../css/user-settings.css"/>
</head>
<body>
<header class="header">
    <div class="header-fixed" style="display: none">
        <div class="container">
            <h1 class="app-name"><a href="meta-index.html">Meta</a></h1>
            <section class="header-action">
                <button class="btn btn-petite btn-default login-action">登录</button>
                <a href="user-register.html">
                    <button class="btn btn-petite btn-primary">注册</button>
                </a>
            </section>
        </div>
    </div>
    <div class="header-fixed">
        <div class="container">
            <h1 class="app-name"><a href="meta-index.html">Meta</a></h1>
            <section class="account">
                <div class="account-info">
                    <img class="account-avatar" src="../images/default.png" alt=""/>
                    <span class="account-name">王振琦</span>
                    <span class="icon icon-menu-down"></span>
                </div>
                <nav class="account-nav">
                    <a class="account-item" href=""><span class="icon icon-user"></span>我的课程</a>
                    <a class="account-item" href=""><span class="icon icon-cog"></span>我的信息</a>
                    <p class="account-item account-logout"><span class="icon icon-off"></span>退出登录</p>
                </nav>
            </section>
        </div>
    </div>
</header>
<main class="container">
    <div class="panel">
        <section class="master">
            <img class="user-avatar" src="../images/default.png" alt=""/>
            <p class="user-name">王振琦</p>
            <div class="avatar-action">
                <button class="btn btn-primary" type="button">修改头像</button>
            </div>
            <ul class="option-list">
                <li class="option active"><span class="icon icon-user"></span>个人简介</li>
                <li class="option"><span class="icon icon-envelope"></span>邮箱</li>
                <li class="option"><span class="icon icon-lock"></span>密码</li>
            </ul>
        </section>
        <section class="option-item form">
            <p class="option-title">个人简介</p>
            <div class="form-group">
                <textarea class="form-control" placeholder="介绍一下自己吧..."></textarea>
            </div>
            <button class="btn btn-primary pull-right" type="button">保存</button>
        </section>
        <section class="option-item form-inline">
            <p class="option-title">邮箱</p>
            <div class="form-group">
                <label class="form-action"><span class="icon icon-remove-sign"></span></label>
                <input class="form-control" type="email" placeholder="您的邮箱"/>
                <label class="form-label"><span class="icon icon-envelope"></span></label>
            </div>
            <div class="form-group">
                <label class="form-action"><span class="icon icon-eye-open"></span></label>
                <input class="form-control" type="password" placeholder="密码，6-32个字符"/>
                <label class="form-label"><span class="icon icon-lock"></span></label>
            </div>
            <button class="btn btn-primary pull-right" type="button">保存</button>
        </section>
        <section class="option-item form-inline">
            <p class="option-title">密码</p>
            <div class="form-group">
                <label class="form-action"><span class="icon icon-eye-open"></span></label>
                <input class="form-control" type="password" placeholder="原密码"/>
                <label class="form-label"><span class="icon icon-lock"></span></label>
            </div>
            <div class="form-group">
                <label class="form-action"><span class="icon icon-eye-open"></span></label>
                <input class="form-control" type="password" placeholder="新密码"/>
                <label class="form-label"><span class="icon icon-lock"></span></label>
            </div>
            <div class="form-group">
                <label class="form-action"><span class="icon icon-eye-open"></span></label>
                <input class="form-control" type="password" placeholder="确认密码"/>
                <label class="form-label"><span class="icon icon-lock"></span></label>
            </div>
            <button class="btn btn-primary pull-right" type="button">保存</button>
        </section>
    </div>
</main>
<footer class="footer">
    <span>ALL RIGHTS RESERVED FOR RUMOFUTURE</span>
</footer>
</body>
</html>